*{
    margin: 0;
    padding: 0;
}
.Banner{
    height: 2200px;
    width: 100%;
}
.SlideShow{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.SlideShow .BoxinsideSlideshow{
    height: 90%;
    width: 95%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: brown;
    margin-left: 20px;
}
.ABoutUs{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ABoutUs .BoxinsideAboutus{
    height: 90%;
    width: 90%;
}
.ABoutUs .BoxinsideAboutus h1{
    font-size: 50px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(75, 75, 75);
    text-align: center;
}
.ABoutUs .BoxinsideAboutus p{
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 8px;
    color: rgb(75, 75, 75);
    line-height: 1.6;
    text-align: justify;
}
.BoxinsideAboutus .SpanBox{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.BoxinsideAboutus .SpanBox div{
    color: rgb(75, 75, 75);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Heading{
    height: 50px;
    width: 100%;
    text-align: center;
    color: rgb(30, 30, 30);
}
.NewlyArrived{
    height: 400px;
    width: 100%;
    margin-top: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}
.NewlyArrived::-webkit-scrollbar {
    display: none;
}
.MostPopular{
    height: 400px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}
.MostPopular::-webkit-scrollbar {
    display: none;
}
.Cards{
    height: 350px;
    width: 250px;
    flex-shrink: 0;
    border-radius: 8px;
    transition: transform 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Cards:hover  {
    transform: scale(1.1);
}
.Cards .CardImage{
    height: 280px;
    width: 100%;
}
.CardImage .Img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.Cards .CardDetails{
    height: 70px;
    width: 100%;
    background-color: rgb(158, 158, 158);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}