*{
    margin: 0;
    padding: 0;
}
.Footer{
    height: 300px;
    width: 100%;
    background-color: grey;
    display: flex;
}
.FooterSection1{
    height: 300px;
    width: 60%;
}
.FooterSection2{
    height: 300px;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.MessageBox{
    height: 250px;
    width: 500px;
}
.MessageBox .Data{
    height: 35px;
    width: 240px;
    border-radius: 5px;
    border: none;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.MessageBox .Feedback{
    height: 100px;
    width: 488px;
    margin-top: 4px;
    border-radius: 5px;
    border: none;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.MessageBox button{
    height: 35px;
    width: 150px;
    margin-top: 4px;
    border: none;
    border-radius: 5px;
}